cqesto
cqesto.exe
makeenv
minisat/core/depend.mk
minisat/core/*.a
*.o
*.d
*.gcda
*.gcno
*.gcov
*.stackdump
gmon.out
*~
generated
githeaddef
defs.h
qcir_lex.tab.h
qcir_lex.tab.c
qcir_lex.c
qcir_parse.tab.c
qcir_parse.tab.h
gmon.out
Session.vim
